.questionWorkspace1 {
  margin: 25px;
  border-radius: 15px;
  padding: 3px;
  font-family: Roboto;
  text-align: left;
  align-content: center;
  color: #292929;
  background-color: #a2d3fc4d;
  border-color: #4e4e4e;
  align-items: center;
  flex-direction: column;
}
.questionTitle{
  background-color:  #0068bde5;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2px 20px;
  margin: 3px 0px;
  border-radius: 10px;
  width:inherit;
}
.nomAuteur {
  color:  #99d1ff;
  font-family: Roboto;
  text-align: left;
  font-style: italic;
  font-size: 15px;
  padding: 2px 20px;
  margin: 3px 0px;
}
.nomAuteurReponse {
  color: rgb(75, 75, 75);
  font-family: Roboto;
  text-align: left;
  font-style: bolder;
  font-weight: bolder;
  font-size: 15px;
  padding: 2px 5px;
  margin: 3px 0px;
}
.libelleQuestion {
  color: #ffffff;
  font-family: Roboto;
  text-align: left;
  font-style: bold;
  font-size: 25px;
}

.buttonstyle{
  background-color: rgba(255, 255, 255, 0.925);
  color: rgb(75, 75, 75);
  font-size: 15px;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
  width: 100%;
  align-self: inherit;
}
.libelleReponse{
  margin-left: 15px;
  font-size: 17px;
  font-weight: unset;
  font-style: normal;

}
.buttonreponse{
  min-height: 40px;
  padding: 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: 4px;
  border: none;
  color: rgb(75, 75, 75);
  font-size: 1.2rem;
  background: linear-gradient(170deg, #a2d3fc6c 10%, #a2d3fc00 95%);
}