


.questionWorkspace1 {
  background-color: #282c34;
  color: #c2d4f3;
  font-family: Roboto;
  text-align: left;
}



.questiontitle {
  border: thin solid rgb(3, 3, 116);
  background-color: #010b1b;
  display: flex; 
  flex-direction: column;
}

.nomauteur {
  background-color: #282c34;
  color: #c2d4f3;
  font-family: Roboto;
  text-align: left;
}
