html {
  font-size: calc(60% + 0.8vmin);
}
main {
  max-width: 40rem;
  margin: 0 auto;
}
* {
  font-size: 1rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}
.questionWorkspace1 {
  margin: 25px;
  border-radius: 15px;
  padding: 3px;
  font-family: Roboto;
  text-align: left;
  align-content: center;
  color: #292929;
  background-color: #a2d3fc4d;
  border-color: #4e4e4e;
  align-items: center;
  flex-direction: column;
}
.questionTitle{
  background-color:  #0068bde5;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 2px 20px;
  margin: 3px 0px;
  border-radius: 10px;
  width:inherit;
}
.nomAuteur {
  color:  #99d1ff;
  font-family: Roboto;
  text-align: left;
  font-style: italic;
  font-size: 15px;
  padding: 2px 20px;
  margin: 3px 0px;
}
.nomAuteurReponse {
  color: rgb(75, 75, 75);
  font-family: Roboto;
  text-align: left;
  font-style: bolder;
  font-weight: bolder;
  font-size: 15px;
  padding: 2px 5px;
  margin: 3px 0px;
}
.libelleQuestion {
  color: #ffffff;
  font-family: Roboto;
  text-align: left;
  font-style: bold;
  font-size: 25px;
}

.buttonstyle{
  background-color: rgba(255, 255, 255, 0.925);
  color: rgb(75, 75, 75);
  font-size: 15px;
  padding: 10px 60px;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
  width: 100%;
  align-self: inherit;
}
.libelleReponse{
  margin-left: 15px;
  font-size: 17px;
  font-weight: unset;
  font-style: normal;

}
.buttonreponse{
  min-height: 40px;
  padding: 0 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin-top: 4px;
  border: none;
  color: rgb(75, 75, 75);
  font-size: 1.2rem;
  background: linear-gradient(170deg, #a2d3fc6c 10%, #a2d3fc00 95%);
}

.input_form{
  display:flex;
  justify-content: center;
}
.input_btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  height: 45px;
  border-radius: 25px;
}
.input_btn--primary {
  background: #366dd3;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
  border-radius: 25px;
}
.input_btn--primary:hover {
  background: #6c7ff2;
}
.input_btn--primary:active {
  background: #7f8ff4;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}
.input_btn--inside {
  margin-left: -96px;
  border-radius: 25px;
  border-color: #1a1c1f4d;
}

.input_form__field {
  margin-bottom: 25px;
  width: 360px;
  height: 15px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
  border-radius: 30px;
  
}
.input_form__field:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}
